@page
@model WorkOrderManager.Pages_Automobiles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Automobiles</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Automobile[0].Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Automobile[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Automobile[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Automobile[0].Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Automobile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AutomobileId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AutomobileId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AutomobileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
