@page
@model WorkOrderManager.Pages.WorkOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder.Subtotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.Subtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder.Tax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.Tax)
        </dd>
        <dt class="col-sm-2">
            Work Order Notes
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.WorkOrderNotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder.AmountPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.AmountPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder.PaidInFull)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.PaidInFull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder.Automobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.Automobile.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrder.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkOrder.Customer.FirstName)
            @Html.DisplayFor(model => model.WorkOrder.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.WorkOrder.Parts)       
        </dt>
        @foreach(var item in Model.WorkOrder.Parts){
                @* @Html.DisplayFor(model => item.PartId) *@
            <dd class="col-sm-10">@Html.DisplayFor(model => item.PartDescription)</dd>
            <dt class="col-sm-2"></dt>
            @* @Html.DisplayFor(model => item.PartDescription) *@
            
        }

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.WorkOrder.WorkOrderId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
