@page "{nameSearchString?}"
@model WorkOrderManager.Pages.WorkOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Name: <input type="text" asp-for="NameSearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].WorkOrderNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].PaidInFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].Automobile.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].Automobile.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].Customer)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.WorkOrder[0].Part)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidInFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Automobile.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Automobile.Year)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
                @Html.DisplayFor(modelItem => item.Customer.LastName)
                
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WorkOrderId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WorkOrderId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WorkOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
